body{
    border-style: solid;    
    }
    
    main{
        background-color: rgb(247, 247, 247);
        width:  960px;
        height: 700px;
        margin-right: auto;
        margin-left:auto;
        position: relative;
    }
    
    .a {
        background-color: rgb(223, 6, 6);
        width: 960px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
    .b {
        background-color: rgb(146, 54, 54);
        float: left;
        width: 200px;
        height: 600px;
        text-align: center;
        vertical-align: middle;
        line-height: 600px;
    }
    .cd{
        display: inline-block;
        width: 760px;
        height: 200px;
        background-color: rgb(255, 238, 0);
        position: relative;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
    }
    .c {
        background-color: rgb(116, 5, 82);
        width: 380px;
        height: 200px;
    
    }
    .d {
        background-color: rgb(51, 5, 112);
        width: 380px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 380px;
    
    }
    .efgh{
        background-color: rgb(22, 209, 78);
        display: inline-block;
        height: 250px;
        width: 760px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        line-height: 250px;
    }
    .e{
        background-color: rgb(214, 18, 133);
        height: 250px;
        width: 190px;
    }
     .f{
        background-color: rgb(230, 80, 26);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 190px;
    }
    .g{
        background-color: rgb(156, 182, 11);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 380px;
    }
    .h{
        background-color: rgb(21, 111, 146);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 570px;
    }
    .i{
        background-color: rgb(131, 52, 15);
        height: 150px;
        width: 760px;
        position: absolute;
        left: 200px;
        text-align: center;
        vertical-align: middle;
        line-height: 150px;
    }
    @media (max-width:480px){
        main{
            background-color: rgb(61, 16, 167);
            width:  480px;
            margin-right: auto;
            margin-left:auto;
            position: relative;
      
        }
        .a {
            background-color: rgb(9, 146, 9);
            opacity: 1;
            width: 480px;
            height: 75px;
            text-align: center;
            vertical-align: middle;
            line-height: 75px;
        }
        .b {
            background-color: rgb(189, 33, 33);
            float: left;
            width: 480px;
            height: 150px;
            text-align: center;
            vertical-align: middle;
            line-height: 150px;
        }
        .cd{
            width: 480px;
            height: 250px;
            background-color: rgb(122, 45, 167);
            position: relative;
            text-align: center;
            vertical-align: middle;
            line-height: 125px;
        }
        .c {
            background-color: rgb(216, 187, 23);
            width: 480px;
            height: 125px;
        }
        .d {
            background-color: rgb(30, 124, 119);
            width: 480px;
            height: 125px;
            position: absolute;
            top: 125px;
            left: 0;
        }
        .efgh{
            background-color: rgb(24, 124, 21);
            display: inline-block;
            height: 500px;
            width: 480px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            line-height: 240px;
        }
        .e{
            background-color: rgb(165, 197, 21);
            height: 250px;
            width: 240px;
        }
         .f{
            background-color: rgb(153, 10, 10);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 0;
            left: 240px;
        }
        .g{
            background-color: rgb(133, 13, 69);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 250px;
            left: 0px;
        }
        .h{
            background-color: rgb(138, 46, 46);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 250px;
            left: 240px;
        }
        .i{
            height: 80px;
            width: 480px;
            position: absolute;
            left: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 80px;
        }
        
    }
